<html>
	<head>
			<title>Petro-Intelligence</title>
			<nav class="navbar navbar-light bg-light">
			  <span class="navbar-brand mb-0 h1">Petro-Intelligence</span>
			</nav>
			<link rel="stylesheet" href="/bootstrap.min.css" />
	</head>
	<body>
		<center>
			<div class="card" style="width: 18rem;">
			  <div class="card-body">
				<h5 class="card-title">Become a member</h5>
				<p class="card-text">Wont take much of your time!</p>
				<a href="/Register" class="btn btn-primary">Register</a>
			  </div>
			</div>

			<div class="card text-center" style="width: 18rem;">
			  <div class="card-body">
				<h5 class="card-title">Add details</h5>
				<p class="card-text">Add details like petrol type and price</p>
				<a href="/Login" class="btn btn-primary">Login</a>
			  </div>
			</div>

			<div class="card text-center" style="width: 18rem;">
			  <div class="card-body">
				<h5 class="card-title">Search online</h5>
				<p class="card-text">View latest petrol prices by authentic sources</p>
				<a href="/View" class="btn btn-primary">View Details</a>
			  </div>
			</div>
		</center>
	</body>
</html>